/* global styles  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    text-align: center;
}

main {    
    max-width: 1112px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}