.page-header {
    background: #171116;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1112px;
    margin: 0 auto;
    padding: 1rem 2rem;
    column-gap: 5px;
}
.logo {
    width: 80px;
    min-width: 80px;
    max-width: 20%;
}
.search-bar {
    max-width: 80%;
}

/* small screen  */
@media(max-width: 767px) {
    .wrapper {
        padding: 1rem;
        row-gap: 1rem;
    }
}
/* tiny screen */
@media(max-width: 450px) {
    .wrapper {
        flex-direction: column;
    }
    .search-bar {
        max-width: unset;
        width: 100%;
    }
}