.gif-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;
}
.gif {
    width: 32%;
    max-width: 32%;
    height: fit-content;
    overflow: hidden;
}

.gif img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}