.trending-item {
    width: 160px;
    min-width: 160px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px solid #007add;
    border-radius: 10px;
}
